body {
    background-color: greenyellow;
}

canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {

    from {box-shadow: 1px 1px 38px white;}
    to {box-shadow: 1px 1px 38px whitesmoke;}
}

#label, #confidence, #what_to_draw, #score, #timer{
    font-size: 24px;
}

#first_h1 {
    box-shadow: 10px 3px 3px yellow;
}